.cabeçalho__menu-hamburguer {
    width: 50px;
    height: 50px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.conteiner__botao:checked~.conteiner__rotulo>.cabeçalho__menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
}

.conteiner__botao:checked~.conteiner__rotulo {
    background: var(--azul-degrade);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.conteiner {
    display: flex;
    align-items: center;
}

.conteiner__imagem {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}

.conteiner__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

.conteiner__texto {
    display: none;
}


@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-size: 30px;
        font-family: var(--fonte-secundaria);
    }

    .container__titulo {
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__titulo {
        display: block;
    }

    .opções {
        display: flex;
        align-items: center;
    }

    .opções__item {
        padding: 1em;
        text-transform: uppercase;
        
    }

    .opções__link {
        text-decoration: none;
        color: var(--azul-escuro);
    }

    .conteiner__imagem-transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.opções__rotulo>.opções__item {
        background: var(--azul-degrade);
        color: var(--branco)
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        padding: 1em;
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }



}

@media screen and (min-width: 1728px) {
    .conteiner__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--azul-escuro);
    }

    .cabeçalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }

    .conteiner__texto {
        display: block;
    }

    .lista-menu__item:hover {
        background: var(--laranja);
    }

    .opções__item:hover {
        background-color: var(--laranja);
        color: var(--branco);
        padding: 1em;
    }

    .opções__link:hover {
        color: var(--branco);
    }



  
}